body {
  font-family: "Roboto", sans-serif;
  color: #444;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

input:focus {
  border: 1px solid #0d6efd !important;
  box-shadow: none !important;
}

.none {
  display: none !important;
}

.pointer {
  cursor: pointer;
}

.popadd {
  z-index: 20;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centeredfixed {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Bouton pour revenir en haut de la page*/
#bttb {
  position: fixed;
  visibility: hidden;
  right: 1rem;
  bottom: 1rem;
  z-index: 200;
  display: flex;
  justify-content: center;
}

/*loader de la page d'accueil*/
#loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity:0.9;
  z-index: 10;
}

/*Header*/
#header {
  z-index: 3;
}

#notification {
  right: -0.7rem;
}

#header a:hover + .carthover{
  display: block;
}

/*liste*/
section {
  padding: 7rem 0;
  overflow: hidden;
}
#list {
  height: 100%;
  overflow: scroll;
}

.list-box img {
  aspect-ratio: 3 / 2;
}

.list .list-box p {
  width: 100%;
  line-height: 1.5rem;
  margin-bottom: 0;
}

.list .list-box:hover {
  transition: 0.3s ease-out;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.12);
}

/*Footer*/
#footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.ok {
  display: block;
  position: absolute;
  top: 2.7rem;
  right: 1rem;
  color: hsl(120, 100%, 34%);
}

.notOk {
  position: absolute;
  top: 2.7rem;
  right: 1rem;
  color: hsl(0, 100%, 34%);
}

.invalidname,
.invalidname:focus,
.popadd {
  border: 1px solid hsl(0, 100%, 34%) !important;
}

.validname,
.validname:focus {
  border: 1px solid hsl(120, 100%, 34%) !important;
}