
body {
  font-family: "Roboto", sans-serif;
  color: #444444;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}
h2 {
  color: #444;
}

input:focus{
  border :1px solid #0d6efd!important;
  box-shadow: none!important;
}

.pointer{
  cursor: pointer ;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
#bttb {
  position: fixed;
  visibility: hidden;
  right: 1rem;
  bottom: 1rem;
  z-index: 2;
  display: flex;
  justify-content: center;
}

#loader{
  position: absolute;
  width:100vw;
  height: 100vh;
  background-color: rgba(255, 248, 220, 0.734);
  z-index: 10;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 3;
}

#header .logo img {
  max-height: 30px;
}

.display{
  display: block;
}
.none{
  display: none!important;
  z-index: -10;
}
#notification{
  position: absolute;
  top:rem;
  left: 6.4rem;
}

section {
  padding: 7rem 0;
  overflow: hidden;
}
#header a:hover + .carthover {
  display: block;
}

/*--------------------------------------------------------------
# liste
--------------------------------------------------------------*/
.list-box {
  padding: 1rem;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.list-box img{
  aspect-ratio: 3 / 2;
}

.list .list-box p {
  width: 100%;
  line-height: 1.5rem;
  margin-bottom: 0;
}

.list .list-box:hover {
  transition: .3s ease-out;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.12);
}




#message{
    height: 50vh;
    margin-top: 20vh;
}
.iconLastNameOk, .iconFirstNameOK, .iconEmailOK, .iconAdresseOk, .iconAdressePlusOk, .iconCodePostalOk, .iconVilleOk{
    display: block;
    position: absolute;
    top:2.7rem;
    right: 1rem;
    color: hsl(120, 100%, 34%);
}
.iconLastNameNotOk, .iconFirstNameNotOk, .iconEmailNotOk, .iconAdresseNotOk, .iconAdressePlusNotOk, .iconCodePostalNotOk, .iconVilleNotOk{
    position: absolute;
    top:2.7rem;
    right: 1rem;
    color: hsl(0, 100%, 34%);
}


.invalidname, .invalidname:focus{
    border : 1px solid hsl(0, 100%, 34%)!important;
}


.validname, .validname:focus{
    border : 1px solid hsl(120, 100%, 34%)!important;
}